
body {
  margin: 0;
  font-family: IBM Plex Sans;
font-style: normal;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.trigger {
position: relative;
top: 55%;
left: 10%;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 2px 8px;

width: 20px;
height: 32px;
background-color: #E5E5E5;
border-radius: 100px;
box-shadow: 0px 0px 0px 3px whitesmoke;

}

.mount {
  margin: 10% 20%;
}

.showTray {
 position: fixed;
 bottom: 70%; 
 right: 40%;
min-width: 30px;
height: 32px;
background-color: white;
display: inline-flex;
border: 1px solid #E0E0E0;
border-radius: 24px;
visibility: visible;
transition: visiblity 5s;


}

.counterTray {
position: relative;
min-width: 38px;
height: 32px;
margin-top: 40px;
background-color: transparent;
display: inline-flex;
box-shadow: 0px 4px 4px E0E0E0;
border-radius: 24px;
opacity: 1;
padding: 5px;

}

.hideTray {
  visibility: none;
  min-width: 30px;
  height: 32px;
  background-color: white;
  display: inline-flex;
  border: 1px solid #E0E0E0;
  border-radius: 24px;
}

.emoji {
  margin:5px;
  transition: transform 0.5s; /* Animation */

}


.emoji:hover {
  transform: scale(2);
}

.reactions {
  display: inline-flex;
  flex-direction: row;
}

.contentBox {
  background-color: grey;
  margin: auto 25%;

}

.content{
  background-color:white;
  /*height:400px;*/
  height: 50px;
  width:502px;
  border: 1px solid #d0d1d5;
  border-radius:3px;
  margin: auto;
  margin-bottom:10px;
  padding: 12px; 
  
  box-shadow: 0 0 5px rgba(0, 0, 0, .30);
}

.emoji-container {
  background-color: #E5E5E5;
  border: 1px solid white;
  margin-right: 2px;
  border-radius: 100px;
  display: flex;
flex-direction: row;
align-items: center;
padding: 2px 8px;
font-size: 12px;

position: relative;
min-width: 45px;
height: 32px;
}

.hight-light-tab {
  background: hsl(213, 100%, 96%);
border-bottom: 2px solid #0F62FE;
}
.dim-light-tab {
  border-bottom: 2px solid #E0E0E0;
  width: 120%;

}

.summary-view {
position: absolute;
width: 497px;
height: 386px;
bottom: -100px;
right: 570px;

/* White - #FFFFFF */

background: whitesmoke;
}

.summary-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 0 0 10px;

}

.summary-header-cell {
 background: whitesmoke;
 padding: 5px;
 width: max-content;
}

.active {
  border-bottom: 1px solid blue;

}

.summary-view {
  overflow-y: scroll;

}

.summary-list {
  display: flex;
  flex-direction: row;
  margin: 10px;

 max-height: 20px;

/* White - #FFFFFF */

}

.user-name {
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

display: flex;
align-items: center;
text-align: justify;
letter-spacing: 0.16px;


font-weight: normal;
font-size: 14px;
line-height: 18px;

/* Gray 80 - #393939 */

color: #393939;
}

.avatar {
  border: 0.5px solid white;
box-sizing: border-box;
margin: 0 25px;
height: min-content;
width: min-content;
}

img {
  border-radius: 100px;

}

.summary-title {
  position: relative;
width: 66px;
height: 18px;

/* Productive-heading-01 */


font-weight: 600;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */

letter-spacing: 0.16px;

/* Gray 100 - #161616 */

color: #161616;

margin: 22px;
}

